<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}"><title>Models</title></head>
<body>
<div th:replace="~{fragments/header}">Navbar</div>
<main>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <a th:href="@{/offer/add}" class="btn btn-primary">Add new Offer</a>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div th:each="offer : ${offers}" class="col">
                    <div class="card shadow-sm">
                        <img th:src="${offer.imageUrl}" class="bd-placeholder-img card-img-top" width="100%" height="225"/>
                        <div class="card-body">
                            <p class="card-text" th:text="${offer.description}">description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
<!--                                    <a th:href="@{/offers/{id}(id=${offer.id})}" class="btn btn-sm btn-outline-secondary">View</a>-->
                                    <a th:href="@{/offer/update/{id}(id=${offer.id})}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                </div>
                                <small th:text="${offer.price}">price</small>
                            </div>
                            <a th:href="@{/offer/remove/{id}(id=${offer.id})}" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</main>

<footer th:replace="~{fragments/footer}"></footer>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>