<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}"><title></title></head>
<body>
<div th:replace="~{fragments/header}">Navbar</div>
<div>
  <ul class="nav">
    <li><a href="/offer/getPriceUp" class="nav-link">Top-3 offers on price up</a></li>
    <li><a href="/offer/getPriceDown" class="nav-link">Top-3 offers on price down</a></li>
<!--    <li><a href="/user" class="nav-link px-2">Users</a></li>-->
<!--    <li><a href="/offer" class="nav-link px-2">Offers</a></li>-->
<!--    <li><a href="/top" class="nav-link px-2">Top-3</a></li>-->
  </ul>
</div>
</body>
</html>