<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head}"><title>Home</title></head>
    <body>
        <div th:replace="~{fragments/header}">Navbar</div>
        <div class="container">
            <form th:action="@{/user/registration}"
                  method="post"
                  th:object="${userRegistrationDTO}">
                <h2 class="mb-4">Регистрация</h2>
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input th:field="*{username}" type="text" class="form-control" id="username"
                           placeholder="Введите имя пользователя">
                    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                           class="text-danger">Error message</small>
                </div>
                <div class="form-group">
                    <label for="firstName">Имя</label>
                    <input th:field="*{firstName}" type="text" class="form-control" id="firstName"
                           placeholder="Введите имя">
                    <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                           class="text-danger">Error message</small>
                </div>
                <div class="form-group">
                    <label for="lastName">Фамилия</label>
                    <input th:field="*{lastName}" type="text" class="form-control" id="lastName"
                           placeholder="Введите фамилию">
                    <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                           class="text-danger">Error message</small>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input th:field="*{password}" type="text" class="form-control" id="password"
                           placeholder="Введите пароль">
                    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           class="text-danger">Error message</small>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Повторите пароль</label>
                    <input th:field="*{confirmPassword}" type="text" class="form-control" id="confirmPassword"
                           placeholder="Введите пароль снова">
                    <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                           class="text-danger">Error message</small>
                </div>
                <button type="submit" class="btn submit__button btn-primary">Зарегистрироваться</button>
            </form>
            <style>
                .submit__button {
                    margin-top: 10px;
                }
            </style>
        </div>
    </body>
</html>
